#logo {
    margin: 5px;
    width: 50px;
}

#chartContainer1{

height: 300px; 
width: 100%;
}

.orange{
 opacity: 0.7;
}
#chartContainer2{

height: 300px; 
width: 100%;
}

button:hover
{
cursor:pointer;
}


#ServerResponse{
    display: none;
}

#name {
    font-size: 32pt;
    vertical-align: top;
}

#account {
   padding-top: 5px;
}

#addDeviceForm, #main, #error {
   display: none;
}

.input-field input { 
   color: white;
}

.transbg{
	background-color: rgba(0,0,0,0);
}
