extends layout

block content
  div(class="row")
    div(class="col s12 m6")
       h5(class="grey-text text-darken-4")=title
       div(class="collection")
          p(class="collection-item") FitnessPal
          ol
             li 
                a(class="collection-item" href="/node/fitnessPal/index.html") Sign In
             li 
                a(class="collection-item" href="/node/fitnessPal/register.html") Register


